
<%layout("/layouts/boilerPlate.ejs")%>
<body>
  <div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card shadow-sm border-0 rounded-4">
        <div class="card-body p-4">
          <h4 class="mb-4 fw-bold text-center">Edit Listing</h4>
          <form action="/listings/<%= listing._id %>?_method=put" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
            <div class="mb-3">
              <label class="form-label">Title</label>
              <input type="text" name="title" class="form-control" value="<%= listing.title %>" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Description</label>
              <textarea name="description" class="form-control" rows="3" required><%= listing.description %></textarea>
            </div>
            <div class="mb-3">
              <label class="form-label">Price (₹)</label>
              <input type="number" name="price" class="form-control" value="<%= listing.price %>" required>
            </div>
            <div>
              <img src="<%=originalUrl%>" alt="">
            </div>
             <div class="mb-3">
              <label class="form-label">Upload Image</label>
              <input type="file" name="image" class="form-control" placeholder="Upload new image" >
            </div>
            <div class="mb-3">
              <label class="form-label">Location</label>
              <input type="text" name="location" class="form-control" value="<%= listing.location %>" required>
            </div>
            <div class="mb-3">
              <label class="form-label">Country</label>
              <input type="text" name="country" class="form-control" value="<%= listing.country %>" required>
            </div>
            <div class="d-grid">
              <button type="submit" class="btn btn-success rounded-3">Update Listing</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
